* text=auto

*.sh text eol=lf
*.bash text eol=lf

*.ps1 text eol=crlf
*.iss text eol=crlf
*.rc text eol=crlf

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
